/* variables */

/* color */
$primary: #3C235B;
$secondary : #FFE48D;
$white : #FFFFFF;
$warning : #DC6A18;


/* font */
$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans : 'Open Sans', sans-serif;
$font-poppins : 'Poppins', sans-serif;


$background-color-gray : #E5E5E5;